body {
  color: rgb(131, 70, 188);
}
#HomeContainer {
  background-image: linear-gradient(45deg, rgb(150, 210, 244), rgb(0, 98, 255));
  height: 100vh;
}

#logoWeather img {
  height: 50vh;
}

#Details {
  background-image: linear-gradient(45deg, rgb(150, 210, 244), rgb(0, 98, 255));
  padding-bottom: 50px;
  min-height: 100vh;
}
#main {
  position: relative;
  display: flex;
  justify-content: center;
}
#main p {
  color: rgba(131, 70, 188, 0.713);
  font-size: 300px;
  font-weight: "bold";
  position: absolute;
}

#icona {
  position: relative;
  width: 500px;
  text-align: center;
  opacity: 0.5;
}
@media screen and (max-width: 700px) {
  #main p {
    font-size: 200px;
  }
  #icona {
    width: 300px;
  }
}

@media screen and (max-width: 470px) {
  #main p {
    font-size: 100px;
  }
  #icona {
    width: 200px;
  }
}

.forecast {
}
