body {
  color: rgb(131, 70, 188);
}
#HomeContainer {
  background-image: linear-gradient(45deg, rgb(150, 210, 244), rgb(0, 98, 255));
  height: 100vh;
}

#logoWeather img {
  height: 50vh;
}

#Details {
  background-image: linear-gradient(45deg, rgb(150, 210, 244), rgb(0, 98, 255));
  padding-bottom: 50px;
  min-height: 100vh;
}
#main {
  position: relative;
  display: flex;
  justify-content: center;
}
#main p {
  color: rgba(131, 70, 188, 0.713);
  font-size: 200px;
  font-weight: "bold";
  position: absolute;
  bottom: 0;
  left: 0;
}

#icona {
  position: relative;
  width: 400px;
  text-align: center;
  opacity: 0.4;
}
@media screen and (max-width: 1199px) {
  #main p {
    font-size: 140px;
  }
  #icona {
    width: 300px;
  }
}
@media screen and (max-width: 716px) {
  #main p {
    font-size: 130px;
  }
  #icona {
    width: 300px;
  }
}

@media screen and (max-width: 550px) {
  #main p {
    font-size: 120px;
  }
  #icona {
    width: 200px;
  }
}
@media screen and (max-width: 420px) {
  #main p {
    font-size: 100px;
  }
  #icona {
    width: 200px;
  }
}
@media screen and (max-width: 360px) {
  #main p {
    font-size: 80px;
  }
  #icona {
    width: 150px;
  }
}
.hourWeather {
  border-right: 1px solid rgb(106, 95, 119, 0.683);
  margin-block: 20px;
  padding: 20px;
}
.hourWeather:last-of-type {
  border: none;
}
.forecastCard {
  transition: transform 0.5s linear;
}
.forecastCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.dayForecast {
  border-radius: 20px;
  background-color: #77b6f680;
  border: #77b6f680;
}

.airCondition {
  border-radius: 20px;
  background-color: #77b6f680;
  border: #77b6f680;
}

.forecast {
  border-radius: 20px;
  background-color: #77b6f680;
  border: #77b6f680;
  margin-top: 150px;
}
@media screen and (max-width: 991px) {
  .forecast {
    margin-top: 50px;
  }
}

.singForecast {
  border-bottom: 1px solid gray;
}
.singForecast:last-of-type {
  border: none;
}
